.transaction-list-container {
  padding: 1rem;
  max-width: 430px;
  min-height: 932px;
  margin: 0 auto;
  background-color: #f2f2f6;
}

.transaction-list {
  border-radius: 10px;
}

/* Summary Section */
.summary-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  gap: 12px;
}

/* Card */
.card {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

/* Card Balance */
.card.balance {
  grid-area: 1 / 1 / 2 / 2;
}
.card.balance .balance__title {
  font-size: 1rem;
  color: #222;
}

.card.balance .balance__amount {
  font-size: 1.8rem;
  font-weight: bold;
  margin-top: 4px;
}

.card.balance .balance__available {
  font-size: 1rem;
  color: #888;
  margin-top: 4px;
}

/* Daily Points */
.card.daily-points {
  grid-area: 2 / 1 / 3 / 2;
}
.card.daily-points .daily-points__title {
  font-size: 1rem;
}

.card.daily-points .daily-points__amount {
  font-size: 1rem;
  color: #888;
  margin-top: 4px;
}

/* Payment Due */
.card.payment-due {
  grid-area: 1 / 2 / 3 / 3;
  justify-content: space-between;
}

.card.payment-due .payment-due__title {
  font-size: 1rem;
}

.card.payment-due .payment-due__message {
  font-size: 1rem;
  color: #888;
  margin-top: 4px;
}

.payment-due__icon-container {
  width: 60px;
  height: 60px;
  background-color: #f3f4f6;
  margin-left: auto;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.payment-due__icon {
  color: #010101;
  font-size: 30px;
}

/* Title */
.transaction-list__title {
  margin-top: 1.5rem;
  margin-bottom: 0.1rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: #222;
}

/* List */
.transaction-list {
  border-radius: 12px;
  overflow: hidden;
}

/* Transaction Item */
.transaction-item {
  display: flex;
  flex-direction: row;
  gap: 12px;
  padding: 12px;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  border-bottom: 1px solid #f2f2f3;
}

.transaction-item__icon {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  background-color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.transaction-item__icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.transaction-item__details {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.transaction-item__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.transaction-item__name {
  font-weight: bold;
  font-size: 1rem;
  color: #333;
}

.transaction-item__price {
  font-weight: bold;
}

.transaction-item__description {
  font-size: 0.875rem;
  color: #666;
}

.transaction-item__user {
  font-size: 0.875rem;
  color: #999;
}
